/* Tighten up drop-down/context/popup menu spacing */
menupopup:not(.in-menulist) > menuitem,
menupopup:not(.in-menulist) > menu {
  padding-block: 4px !important; /*  reduce to 3px, 2px, 1px or 0px as needed */
  min-height: unset !important; /*  v92.0 - for padding below 4px */
}
:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}

/* Proton Tabs Tweaks */
/*  Adjust tab corner shape, optionally remove space below tabs */
#tabbrowser-tabs {
    --user-tab-rounding: 0px;
}
.tab-background {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
    margin-block: 1px 0 !important;
}
#scrollbutton-up, #scrollbutton-down {
    border-top-width: 1px !important;
    border-bottom-width: 0 !important;
}
/*  Container color bar visibility */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
    margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
}

/*  Override Normal Density height to Compact Density height only for tabs */
#TabsToolbar, #tabbrowser-tabs {
    --tab-min-height: 29px !important;
}
/*  Tweak for covering a line at the bottom of the active tab on some themes */
#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"] + #TabsToolbar,
#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"] + #TabsToolbar #tabbrowser-tabs {
    --tab-min-height: 30px !important;
}
#scrollbutton-up,
#scrollbutton-down {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
}

/*  [Connected Tabs] Set a max height based on min-height plus margin-block: 1px 0 */
#TabsToolbar, #TabsToolbar > hbox, #TabsToolbar-customization-target, #tabbrowser-arrowscrollbox  {
    max-height: calc(var(--tab-min-height) + 1px) !important;
}
/*  [Connected Tabs] Adjust padding around icons on buttons to avoid crushed images */
#TabsToolbar-customization-target toolbarbutton > .toolbarbutton-icon,
#TabsToolbar-customization-target .toolbarbutton-text,
#TabsToolbar-customization-target .toolbarbutton-badge-stack,
#scrollbutton-up,#scrollbutton-down {
    padding-top: 7px !important;
    padding-bottom: 6px !important;
}

/*  Inactive tabs: Outline style */
.tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
    border: 1px solid rgba(0, 0, 0, .20) !important;
/*  To pick up a theme background tab separator color, un-comment the following line: */
/*  border: 1px solid var(--lwt-background-tab-separator-color, rgba(0, 0, 0, .20)) !important; */
    border-bottom-color: transparent !important;
}
/*  For dark backgrounds */
[brighttext="true"] .tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
    border: 1px solid var(--lwt-selected-tab-background-color, rgba(255, 255, 255, .20)) !important;
/*  To pick up a theme background tab separator color, un-comment the following line: */
/*  border: 1px solid var(--lwt-background-tab-separator-color, var(--lwt-selected-tab-background-color, rgba(255, 255, 255, .20))) !important; */
    border-bottom-color: transparent !important;
}
/*  Remove extra padding between tabs */
.tabbrowser-tab:not(:first-of-type) {
    padding-left: 0 !important;
}

/* Audio Playing / Mute Button side-by-side when sound is playing */
#TabsToolbar {
    --user-mute-button-height: 20px;  /*  default size is 12px, site icon is 16px */
}

/*  Move the mute/unmute button to the right and enlarge it */
.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) {
    width: var(--user-mute-button-height) !important;
    height: var(--user-mute-button-height) !important;
    margin-left: calc(var(--user-mute-button-height) / 2 + 2px) !important; /*  pushes icon to the right */
    margin-right: 2px !important; /*  closes up some space before the text */
    padding: 0 !important; /*  allows icon to expand to full size */
}

/*  Move the site icon to the left a bit and adjust position */
.tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) > :not(.tab-icon-overlay) {
    margin-left: -4px !important; /*  pushes icon to the left */
    margin-top: calc((var(--user-mute-button-height) - 16px) / 2) !important;  /*  keep site icon reasonably positioned */
}

/*  Override the rules for hover/not hover visibility */
/*  for mute button */
.tabbrowser-tab:not(:hover) .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]),
/*  for site icon */
.tabbrowser-tab:hover .tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) > :not(.tab-icon-overlay),
/*  for site icon with Compact density */
:root[uidensity="compact"] .tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) > :not(.tab-icon-overlay) {
    opacity: 1 !important; /*  overrides full transparency with full opacity */
}

/*  Color the icon on hover for confirmation or avoidance */
.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]):hover {
    fill: green !important;
}
[lwthemetextcolor="bright"] .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]):hover {
    fill: lightgreen !important; /*  for dark themes */
}

/*  Tweaked Audio playing/Mute button rules for pinned tabs */
.tab-icon-overlay:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted]) {
    width: var(--user-mute-button-height) !important;
    height: var(--user-mute-button-height) !important;
    margin-left: 2px !important; /*  allow some overlap to reduce expanded width */
    margin-right: -2px !important; /*  reduce empty space on the right */
    padding: 0 !important; /*  allows icon to expand to full size */
    top: 0 !important; /*  align button with site icon */
}
.tab-icon-stack:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted]) > :not(.tab-icon-overlay) {
    margin-left: -6px !important; /*  reduce empty space on the left */
    margin-top: calc((var(--user-mute-button-height) - 16px) / 2) !important;  /*  keep site icon reasonably positioned */
}
.tabbrowser-tab:not(:hover) .tab-icon-overlay:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted]),
/*  for site icon */
.tabbrowser-tab:hover .tab-icon-stack:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted]) > :not(.tab-icon-overlay),
/*  for site icon with Compact density */
:root[uidensity="compact"] .tab-icon-stack:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted]) > :not(.tab-icon-overlay) {
    opacity: 1 !important; /*  overrides full transparency with full opacity */
}
.tab-icon-overlay:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted]):hover {
    fill: green !important;
}
[lwthemetextcolor="bright"] .tab-icon-overlay:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted]):hover {
    fill: lightgreen !important; /*  for dark themes */
}

/* Remove the tracking protection icon */
#urlbar, #searchbar .searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
}
#tracking-protection-icon-container {
  display: none !important;
}
#identity-box {
  direction: ltr;
}
#urlbar-container {
  --urlbar-container-height: unset !important;
  height: 35px !important;
}
#urlbar {
  margin: 2px !important;
  top: 0 !important;
}
#identity-icon-box {
  margin: 2px !important;
}
#urlbar-background {
  margin: 2px !important;
}
#identity-permission-box {
  display: none !important;
}

/* Remove the ugly new search switcher */

#urlbar-searchmode-switcher {
  visibility: hidden !important;
  width: 0.01em !important;
  padding: 0em !important;
  margin: 0em !important;
}